.body{
    background: rgb(180,58,134);
    background: linear-gradient(90deg, rgba(180,58,134,1) 3%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%); 
align-items: center;
}
h1{
    text-align: center;
    text-decoration: dotted;
}
h2{
    justify-content: center;
    border: 15px dotted fuchsia ;
    width: 85px;
    height: 65px;
    font-size: 21px;
    margin: auto;
    padding: 10px;
}
.body2{
    background: rgb(63,94,251);
background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(172,201,76,1) 73%, rgba(252,70,107,1) 100%);

}
a{
    text-align: center;
    background-color: chartreuse;
}

.gif{
    justify-content: center;
    margin-top: 20px;
    width: 100%;
}

img{
    margin: 0 20px 20px 0;
}
div{
    text-align: center;
}
p{
    font-size: 15PX;
    background-color: orange;
    background: yellow;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}
